{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>联系</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/admin.css' %}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">

    <div class="row">

        <div class="span2">

            {% include 'AppBars.html' %}<!-- end main-left-col -->

        </div> <!-- end span2 -->

        <div class="span10">

            {% include 'title.html' %}

            <div class="main-area dashboard">

                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert" href="#">x</a>
                    <h4 class="alert-heading">注意</h4>
                    团队承接各种Web前后端开发工作
                </div>

                <div class="row">



                </div>

                <div class="row">

                    <div class="span4">

                        <div class="slate">

                            <div class="page-header">
                                <h2>开发团队</h2>
                            </div>

                            <p><strong>团队名称:</strong> 中情六处</p>
                            <p><strong>负责人:</strong> Mr.Zhang</p>
                            <p><strong>承接业务:</strong> Web前后端开发</p>
                            <p><strong>支付方式:</strong>  右侧扫码</p>
                            <p><strong>联系方式:</strong> <a href="">010-6666666</a></p>

                        </div>

                    </div>

                    <div class="span3">

                        <div class="slate">

                            <div class="page-header">
                                <h2>支付宝</h2>
                            </div>
                            {#支付宝二维码#}
                            <img src="{% static 'assets/img/二维码.png' %}"  style="width: 230px;height: 210px;" alt="">

                        </div>

                    </div>

                    <div class="span3">

                        <div class="slate">

                            <div class="page-header">
                                <h2>微信</h2>
                            </div>
{#微信二维码#}
                            <img src="{% static 'assets/img/二维码.png' %}"  style="width: 230px;height: 210px;" alt="">

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="span10">

                        <div class="slate">

                            <div class="page-header">
                                <h2>发展前景</h2>
                            </div>

                            <table class="orders-table table">
                                <thead>
                                <tr >
                                    <p style="font-size: 1em;line-height: 200%;">经过几年的发展，中国软件产业体系正在逐步形成，产业规模从2001年开始以年均40%速度增长，尽管在全球市场上属于后来者，但是中国软件产业却计划以超常规的发展速度在世界上占有一席之地。

    目前，软件产业总体规模已经超过了印度和韩国。软件产业近年来已成为中国电子信息产业中增长最快的部分之一。其管理软件产品前景也是极具乐观。

                                    <br>1、国家信息产业法律环境将更加完善。关于电子商务、科技奥运、城市信息化、创业投资、行业应用标准、软件外包推进政策及软件与集成电路相关法律、指导意见、优惠政策将出台。国家将更注重扶植优秀软件企业和鼓励本土软件企业的自主创新及国际化发展。

<br>2、软件产业竞争更趋激烈，管理软件提供商面临全面转型，传统的软件许可的商业模式正在面临着挑战，实现软件服务化、移动网络和基于互联网的软件服务模式将成为明年一大热点。

<br>3、互联网的飞速发展带动电子商务将快步发展，传统商务和电子商务并行、互补，跨国、跨区的B2B活动趋于活跃。

<br>4、“走出去”迈出了坚实的步伐。或是寻求合作，或是直接竞购，或是输出优势，或是拓增价值。明年，“走出去”迈出了坚实的步伐。国内软件企业与跨国公司通过技术、资本等方式结成战略合作伙伴，共同开拓市场。通过“走出去”在国际业务上的眼光、策略、机制配套等方面实现真正的国际化。

<br>5、融合将成产业的主旋律。面临当前信息化发展中难得的转折机遇，明确融合主旋律是有效开展信息化市场的大前提。行业方面，项目规划、咨询、实施和评估将更加紧密；技术方面，互联网、移动技术、平台化与软件技术等融合趋势强劲；产品方面，软件系统与协同商务、中间件、平台应用将完美整合。通过专业化分工、集中投入做强、跨产品领域合作，形成竞争合力是最佳的竞争发展策略已成为软件厂商的共识，下一步软件厂商将在不同产品之间、乃至跨产品领域间实现更多融合。

<br>6、ERP系统将更趋于行业化应用。用一套ERP系统覆盖所有的行业，已经被证明是不可能的。各大ERP厂商将着重打造行业化版本。行业化版本将考虑功能修改的灵活性、分步实施时的软件结构、接口的开放性、数据转换和程序连接的方便性。

<br>7、从渠道体系的模式看，扁平化的渠道体系依然成为软件企业的渠道模式，渠道网络化的发展也将为渠道扁平化发展创造更好的条件。同时，中小企业渠道、股权分制改革、激励创业机制依然未来软件厂商渠道建设的主流。资本运作成为软件企业在渠道发展中所诉求的砝码，渠道体系的演变，将给其运作与管理带来更多问题，新渠道体系的整合成为未来管理软件行业的一个重点。

<br>8、并购、重组与上市将成产业资本运作主旋律，软件供应商的数量呈减少趋势。天下大势，合久必分，分久必合。在产业转型的驱动下，扩张不可避免而且必不可少，上下链的延伸和从国内向国外拓展，最为突出的表现就是并购、重组与上市等产业资本运作风潮的兴起。

<br>9、新技术、新应用将在以后得到更快发展。商业智能、中间件、SOA和嵌入式软件市场等将进一步增强。SOA在用户层面的认知度进一步提高，企业将继续部署SOA项目，而电子政务因其规范化和对服务的较高要求成为推及行业。商业智能使企业能够更多地了解影响它们业务的各种因素正日益成为企业软件厂商的焦点。</p>
                                </tr>
                                </thead>

                            </table>

                        </div>

                    </div>



                </div>



                <div class="row">

                    <div class="span10 footer">

                        <p>&copy; M I six</p>

                    </div>

                </div>

            </div>

        </div> <!-- end span10 -->

    </div> <!-- end row -->

</div> <!-- end container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script>
    $(window).load(function () {

        /* Gallery pop up
        -----------------------------------------*/
        $('.tm-header-gallery').magnificPopup({
            delegate: 'a', // child items selector, by clicking on it popup will open
            type: 'image',
            gallery: {enabled: true}
        });

    });

    /* Google map
    ------------------------------------------------*/
    var map = '';
    var center;

    function initialize() {
        var mapOptions = {
            zoom: 16,
            center: new google.maps.LatLng(37.769725, -122.462154),
            scrollwheel: false
        };

        map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

        google.maps.event.addDomListener(map, 'idle', function () {
            calculateCenter();
        });

        google.maps.event.addDomListener(window, 'resize', function () {
            map.setCenter(center);
        });
    }

    function calculateCenter() {
        center = map.getCenter();
    }

    function loadGoogleMap() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' + 'callback=initialize';
        document.body.appendChild(script);
    }

    // DOM is ready
    $(function () {
        loadGoogleMap(); // Google Map
    });

</script>

</body>
</html>